*{
    margin: 0;
    padding: 0;
}

/* VARIABLES DE COLOR */

:root {
--color-fondo:  #2E2E2E; /* Gris humo */
--color-texto:#0D0D0D; /* Negro profundo*/ 
--color-principal: #BFBFBF; /* Gris plateado */
--color-claro: #F5F5F5; /* Blanco espectral */
--color-sangre: #8B0000; /* Rojo sangre */
}

/* ESTILOS GENERALES */

body {
    font-family: 'Times New Roman', serif;
    background-color: var(--color-principal);
    color: var(--color-texto);
    line-height: 1.6;
    background-image: url("Imagenes/fondo.jpg");
    background-size: cover;     /* La imagen cubre todo */
    background-position: center; /* Centrada */
    background-repeat: no-repeat; /* No se repite */
    background-attachment: fixed; /* Efecto parallax */
}

/* ENCABEZADO */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-claro); 
    padding: 15px 15px 15px 15px;
    font-size: 1.2rem; 
}

.logo {
font-size: 1.3rem; 
font-weight: bold; 
padding-left: 20px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    cursor: pointer;
    font-weight: 500;
}

nav ul li:hover {
text-decoration: underline;
}

nav ul li a{
    color: inherit;
    text-decoration: none;
}


.botones { /* contenedor de los botones */
display: flex;
gap: 10px;
}

.boton { 
border: none; 
border-radius: 50px; 
cursor: pointer; 
background-color: var(--color-fondo); 
color: var(--color-claro); 
padding: 8px 15px; 
}

.boton a{
    color: var(--color-claro);
    text-decoration: none;
}

.boton:hover { 
background-color: var(--color-sangre); 
}

/* CONTENIDO */

h1 {
    text-align: center;
    margin: 40px 0 20px;
    font-size: 42px;
    color: var(--color-claro);
}

section {
    max-width: 900px;
    margin: 30px auto;
    background-color: var(--color-principal);
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}


section p {
    font-size: 20px;
    line-height: 1.8;
    color: var(--color-texto);
    text-align: justify;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin: 30px 0;
    padding: 0;
}

h2 a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.6); /* Negro con transparencia */
    color: white;                          /* Para que se vea siempre */
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
}

h2 a:hover {
    text-decoration: underline;
}

.img_curi {
    width: 90%;
    max-width: 550px;
    display: block;
    margin: 30px auto;
    border-radius: 15px;
    filter: grayscale(100%);
}

.img_curi:hover {
    transform: scale(1.03);
    opacity: 0.9;
}

/* FOOTER */ 
footer{
    background-color: var(--color-sangre);
    color: var(--color-claro);
    text-align: center;
    padding: 10px 10px;
}

@media (max-width: 768px) {

    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .botones {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .boton {
        width: 80%;
    }

    section {
        padding: 15px;
        margin: 15px;
    }

    h1 {
        font-size: 30px;
    }


}
