*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: KumarOne;
    src: url(fuentes/KumarOne-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(fuentes/Inter/static/Inter_18pt-Regular.ttf);
}

:root{
    /*Cementerio neblinoso*/
    --negro_carbon: #1C1C1C;
    --gris_ceniza: #444444;
    --blanco_bruma: #EAEAEA;
    --verde_musgo: #556B2F;
    --azul_nocturno: #191970;

    /*Oscuridad espectral*/
    --negro_profundo: #0D0D0D;
    --gris_humo: #2E2E2E;
    --blanco_espectral: #F5F5F5;
    --rojo_sangre:#8B0000;
    --gris_plateado: #BFBFBF;

    /*Fuentes*/
    --titulo: KumarOne;
    --texto: Inter;
}

body{
    /*background-color: var(--negro_profundo);*/
    background-image: url(imagenes/bosque.jpg);
    background-size: cover;                
    background-repeat: no-repeat;          
    background-position: center center;     
    background-attachment: fixed;           
}

/*main{
    border-top: 2px solid var(--blanco_espectral);
} */

header{
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    background-color: var(--negro_profundo);
    padding: 15px;
}

header h1{
    color: var(--blanco_espectral);
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu a{
    text-decoration: none;
    padding: 5px 10px;
    color: var(--blanco_espectral);
    border-bottom: 1.5px solid var(--blanco_espectral);
    font-family: var(--texto);
    font-size: 16px;
}

.menu a:hover{
    background-color: var(--gris_plateado);
    color: var(--negro_profundo);
}

.menu a.activo{
    background-color: var(--blanco_espectral);
    color: var(--negro_profundo);
}

#botones{
    display: flex;
    justify-content: center;
    align-items: center;
}

#botones a{
    text-decoration: none;
    font-family: var(--texto);
    font-size: 14px;
    font-weight: bold;
    background-color: var(--rojo_sangre);
    border: 2px solid var(--rojo_sangre);
    color: var(--blanco_espectral);
    padding: 7px 14px;
    border-radius: 7px;
    margin-left: 5px;
}

#destacado{
    margin: 25px;
    background-color: var(--gris_ceniza);
    width: 100%;
    padding: 30px 100px;
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#destacado img{
    width: 600px;
    height: auto;
}

#contenido_destacado{
    margin-left: 50px;
}

#titulo_destacado{
    background-color: var(--rojo_sangre);
    color: var(--blanco_espectral);
    margin-bottom: 10px;
    padding: 5px 10px;
    display: inline-block;
    font-family: var(--texto);
    font-weight: normal;font-size: 14px;
}

#tit_historia{
    color: var(--blanco_espectral);
    font-family: var(--titulo);
    font-size: 18px;
}

#pa_historia{
    color: var(--blanco_espectral);
    font-family: var(--texto);
    font-size: 14px;
}

#boton_y_valorar{
    display: flex;
    align-items: center;
}

.leer_ahora{
    text-decoration: none;
    background-color: var(--blanco_espectral);
    color: var(--rojo_sangre);
    padding: 5px 10px;
    margin-top: 10px;
    margin-right: 20px;
}

.leer_ahora:hover{
    background-color: var(--gris_plateado);
}

.estrellas{
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.estrellas input{
    display: none;
}

.estrellas label{
    font-size: 25px;
    color: var(--gris_plateado);
    padding: 0 2px;
    margin-top: 6px;
}

.estrellas label:hover, 
.estrellas label:hover ~ label{
    color: var(--rojo_sangre);
}

.estrellas input:checked ~ label{
    color: var(--rojo_sangre);
}

#coleccion h2{
    text-align: center;
    font-family: var(--titulo);
    color: var(--rojo_sangre);
}

.menu label{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    color: var(--blanco_espectral);
    border-bottom: 1.5px solid var(--blanco_espectral);
    font-family: var(--texto);
    font-size: 16px;
    margin-top: 15px;
}

.menu label:hover{
    background-color: var(--gris_plateado);
    color: var(--negro_profundo);
}

.menu input{
    display: none;
}

.menu input:checked + label{
    background-color: var(--blanco_espectral);
    color: var(--negro_profundo);
}

.caja_historia{
    background-color: var(--negro_carbon);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px 25px;
    position: relative;
}

.valorar{
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: start;
    position: absolute;
    bottom: 175px;
    left: 18px;
}

.valorar input{
    display: none;
}

.valorar label{
    font-size: 25px;
    color: var(--gris_plateado);
    padding: 0 2px;
    margin-top: 6px;
}

.valorar label:hover, 
.valorar label:hover ~ label{
    color: var(--rojo_sangre);
}

.valorar input:checked ~ label{
    color: var(--rojo_sangre);
}

.caja_historia {
    margin-bottom: 20px;
}

.img_con_fondo {
    background-color: black;
    height: 250px;        
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;    
    margin-bottom: 15px;
}

.img_con_fondo img {
    height: 100%;         
    width: auto;          
}



.caja_historia h4{
    color: var(--blanco_espectral);
    font-family: var(--titulo);
    font-size: 14px;
    padding: 0 18px;
}

.caja_historia p{
    color: var(--blanco_espectral);
    font-family: var(--texto);
    font-size: 13px;
    margin-bottom: 10px;
    padding: 0 18px;
}

.caja_historia a{
    text-decoration: none;
    background-color: var(--rojo_sangre);
    color: var(--blanco_espectral);
    padding: 5px 10px;
    margin-top: 10px;
    text-align: center;
    font-family: var(--titulo);
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 18px;
}

.caja_historia a:hover{
    background-color: var(--gris_plateado);
    color: var(--rojo_sangre);
}

#cont_reciente{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont_populares{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont_valoradas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.historias>div{
    display: flex;
}

#historias_extra {
    display: none;           
    flex-wrap: wrap;         
    justify-content: center; 
    gap: 1px;               
    margin-top: 20px;
}

#desplegar_historias:checked ~ #historias_extra {
    display: flex;           
}

#historias_extra .caja_historia {
    flex: 0 0 29.7%;        
    max-width: 29.7%;       
    background-color: var(--negro_carbon);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
}

#historias_extra .img_con_fondo {
    background-color: black;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 15px;
}

#historias_extra .img_con_fondo img {
    height: 100%;
    width: auto;
}

#historias_extra .caja_historia h4,
#historias_extra .caja_historia p,
#historias_extra .caja_historia a {
    padding: 0 18px;
}

#historias_extra .caja_historia h4 {
    color: var(--blanco_espectral);
    font-family: var(--titulo);
    font-size: 14px;
}

#historias_extra .caja_historia p {
    color: var(--blanco_espectral);
    font-family: var(--texto);
    font-size: 13px;
    margin-bottom: 10px;
}

#historias_extra .caja_historia a {
    text-decoration: none;
    background-color: var(--rojo_sangre);
    color: var(--blanco_espectral);
    padding: 5px 10px;
    margin-top: 10px;
    text-align: center;
    font-family: var(--titulo);
    margin-bottom: 18px;
}

#historias_extra .caja_historia a:hover {
    background-color: var(--gris_plateado);
    color: var(--rojo_sangre);
}


.btn_ver_todo {
    background-color: var(--rojo_sangre);
    color: var(--blanco_espectral);
    padding: 10px 15px;
    display: block;
    margin: 15px 580px;
    font-family: var(--titulo);
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.btn_ver_todo:hover {
    background-color: var(--gris_plateado);
    color: var(--rojo_sangre);
}

footer{
    font-family: var(--texto);
    font-weight: bold;
    text-align: center;
    margin: 40px 90px;
    color: var(--blanco_espectral);
}