*{
    margin: 0;
    padding: 0;
}

/* ======= VARIABLES DE COLOR ======= */
:root {
--color-fondo:  #2E2E2E; /* Gris humo */
--color-texto:#0D0D0D; /* Negro profundo*/ 
--color-principal: #BFBFBF; /* Gris plateado */
--color-claro: #F5F5F5; /* Blanco espectral */
--color-sangre: #8B0000; /* Rojo sangre */
}

/* ======= ESTILOS GENERALES ======= */
body {
font-family: 'Times New Roman', serif;
background-color: var(--color-principal);
color: var(--color-texto);
line-height: 1.6;
}

/* ======= ENCABEZADO ======= */

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-claro); 
  padding: 15px 15px 15px 15px;
  font-size: 1.2rem;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
  padding-left: 20px;
}

nav ul{
  display: flex;
  list-style: none;
  gap: 20px;
  cursor: pointer;
  font-weight: 500;
}

nav ul li:hover {
text-decoration: underline;
}

nav ul li a{
  color: inherit;
  text-decoration: none;
}

.botones { /* contenedor de los botones */
display: flex;
gap: 10px;
}

.boton { 
border: none; 
border-radius: 50px; 
cursor: pointer; 
background-color: var(--color-fondo); 
color: var(--color-claro); 
padding: 8px 15px; 
}

.boton a{
  color: var(--color-claro);
  text-decoration: none;
}

.boton:hover {
background-color: var(--color-sangre); 
}


/* ======= SECCIÓN PRINCIPAL ======= */
.principal {
  text-align: center;
  padding: 90px;
  background-size: cover; 
  background-position: center;  
  background-attachment: fixed;
  background-image: url("Imagenes/machu_picchu.jpg");
}

.contenido {
  background: rgba(0, 0, 0, 0.6); /* Fondo negro transparente */
  padding: 30px;
  border-radius: 15px;
  color: white; /* Texto blanco */
  max-width: 900px;
  margin: auto;
}

.principal h1 {
    font-size: 3.2rem;
    margin-bottom: 20px;
    color: var(--color-claro);
    padding: 10px 25px;
    border-radius: 12px;
}

.principal p {
  font-size: 1.5rem;
  max-width: 1500px;
  margin: 0 auto;
}

/* LISTADO */ 

.leyendas {
  display: flex;
  justify-content: space-between;
  padding: 20px 5%;
  background-color: var(--color-principal);
}

.leyendas ul {      
  font-size: 1.6rem;
  line-height: 3;
}

.leyendas li {
  margin-bottom: 10px;
  cursor: pointer;
}

.leyendas li:hover {
  text-decoration: underline;
  color: var(--color-sangre);
}

.leyendas ul li a{
  color: inherit;
  text-decoration: none;
}

.btn-mostrar {
    display: block;          /* Obligatorio para centrar */
    width: fit-content;      /* Para que solo mida lo necesario */
    margin: 20px auto;       /* AUTO = CENTRA HORIZONTALMENTE */
    padding: 10px 20px;
    background-color: var(--color-sangre);
    color: var(--color-claro);
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.3rem;
    font-style: italic;
    cursor: pointer;
}

.btn-mostrar:hover {
    background-color: #a80000; /* tono más oscuro */
}


/* FOOTER */ 
footer{
  background-color:var(--color-sangre);
  color: var(--color-claro);
  text-align: center;
  padding: 10px 10px;
  margin-top: 20px;
}

@media (max-width: 768px) {

    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .botones {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .boton {
        width: 80%;
    }

    section {
        padding: 15px;
        margin: 15px;
    }

    h1 {
        font-size: 30px;
    }

}
